/* sign-in.component.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .sign-in-container {
    background:  url('/../assets/useful/images/TrustCareMedical_logo.png') center/cover no-repeat fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .sign-in-form {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.6s ease;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .header-title {
    margin-bottom: 30px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #4caf50;
  }
  

  
  /* Button styles */
  button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2e7d32;
  }
  
  /* Link styles */
  a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #1d68a7;
  }
  #login{
  background-color:  rgb(31, 147, 2,0.1);
border-radius: 30% 0 30% 0 ;
margin: 5% 25% ;
  }  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .sign-in-form {
      width: 80%;
    }
  }
  .bbbb{
    display: flex;
    flex-direction: row;
    float: left;
  }