/* sign-up.component.css */
.sign-up-container {
  background: url('/../assets/useful/images/TrustCareMedical_logo.png') center/cover no-repeat fixed;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.sign-up-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-title {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.label-group {
  display: flex;
  align-items: center;
}

.label-group label {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 10px; /* Ajustez la marge selon vos besoins */
}

input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}




.bbbb{
  display: flex;
  flex-direction: row;
  float: left;
}
