
    <div class="cover">

  
    <div class="container form-sec">
        <div class="col-md-8 col-lg-8 mx-auto text-center">
           <div class="header-title">
              <h1 class="wv-heading--title mb-2">
                 Sign up for free !
              </h1>
              <h2 class="wv-heading--subtitle mb-5">
                Please fill this form to create your account now
              </h2>
           </div>
        </div>
        <div class="row">
           <div class="col-md-7 mx-auto">
              <div class="myform form ">
                 <form action="" method="post" name="login">
                    <div class="form-group ">
                        <label for="name">Name</label>
                       <input type="text" name="name"  class="form-control my-input" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                       <input type="email" name="email"  class="form-control my-input" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone number</label>
                       <input type="number" min="0" name="phone" id="phone"  class="form-control my-input" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="cin">CIN/ Passport</label>
                        <input type="text"  name="cin" id="cin"  class="form-control my-input" placeholder="CIN/Passport">
                     </div>
                     <div class="form-group">
                        <label for="cin">Matricule</label>
                        <input type="text"  name="matricule" id="matricule"  class="form-control my-input" placeholder="matricule">
                     </div>
                     <div class="form-group">
                        <label for="adress">Adress</label>
                        <input type="text"  name="adress" id="adress"  class="form-control my-input" placeholder="Adress">
                     </div>
                     <div class="form-group">
                        <label for="dateOfBirth">Date of birth</label>
                        <input type="date"  name="dateOfBirth" id="dob"  class="form-control my-input" >
                     </div>
                     <div class="form-group">
                        <label for="speciality">speciality</label>
                        <input type="text"  name="speciality" id="speciality"  class="form-control my-input" >
                     </div>
                
                     <div class="form-group">
                      
                        <input type="radio"  name="sex" id="male"  class="">
                        <label for="male"> Male</label>
                    </div>
                     <div class="form-group">
                        <input type="radio"  name="sex" id="female"  class="" >
                        <label for="female">Female</label>
                     </div> 
                    
                    <div class="text-center ">
                       <button type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
                    </div>
                    <div class="col-md-12 ">
                       <div class="login-or">
                          <hr class="hr-or">
                          <span class="span-or">or</span>
                       </div>
                    </div>
                    <div class="form-group">
                       <a class="btn btn-block g-button" href="#">
                       <i class="fa fa-google"></i> Sign up with Google
                       </a>
                    </div>
                    <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                    </p>
                 </form>
              </div>
           </div>
        </div>
     </div>

    </div>