
<body>
    <div class="footer">
        <div class="footer-content">
            <div class="logo">
                <img src="./assets/useful/images/TrustCareMedical_logo.png" alt="Logo de l'entreprise">
            </div>
            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">DOCTORS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contact</h3>
                <p>Petite Ariana<br>Ariana, Tunisie</p>
                <p>Email : contact@example.com</p>
                <p>Phone : +216 99 999 999</p>
            </div>
            <div class="footer-section">
                <h3>Follow us</h3>
                <div class="social_box">
                    <a href="">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
        </div>
    </div>

